*{
    margin: 0;
    padding: 0;
    font-family: Roboto;   
}
/* WELCOME */
.welcome{
    width: 100%;
}
.welcome_page{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(background1.jpg);
    background-size: cover;
    background-position: center;
}
.bar{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
}
.bar ul {
    margin-top: 43rem;
}
.bar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30 px;
    position: relative;
    font-size: 20px;
}
.bar ul li a{
    text-decoration: none;
    color: antiquewhite;
    text-transform: uppercase;
    margin-left: 50px;
}
.bar ul li ::after{
    content: '';
    height: 1px;
    width: 80%;
    background: #cacaca;
    position: absolute;
    left: 40px;
    bottom: -10px ;
    transition: 0.5s;
}
.bar ul li :hover::after{
    width: 100%;

}
.welcome_portfolio{
    width: 100%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: beige;
}
.welcome_portfolio h1{
    font-size: 70px;
    margin-top: 10px;
}
.welcome_portfolio p{
    margin: 70 px auto;
    font-weight: 100;
    line-height: 70px;
    font-size: 28px;
}

/* QUOTES */
.Quotes{
    width: 95%;
    height: 50vh;
    background-color: #FEFCF3;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    margin: -5% auto 20px auto;
    position: relative;
}
.About_Quotes{
    width: 70%;
    height: 60%;
    display: flex;
    padding: 5%;
    margin-left: 10%;
    flex-direction: row;
}
.character1{
    width: 20%;
    height: 250px;
}
.About_text{
    margin-bottom: 50%;
    width: 70%;
    margin-left: 15%;
}
#About_title{
    font-size: 50px;
    line-height: 90px;
    text-shadow: 2px 1px 1px gray;
}
#Quotes_text{
    font-size: 30px;
}

/* HOMEPAGE */
.Homepage{
    width: 100%;
    height: 70vh;
    background-color: rgb(249, 248, 243);
    padding-top: 10%;
    display: flex;
    flex-direction: row;
}
#character2{
    width: 20%;
    height: 50vh;
    margin-left: 10%;
    border-radius: 10px 10px 10px 10px;
}
.Homepage_top{
    width: 50%;
    height: 90%;
    line-height: 50px;
    margin-left: 10%;
}
.Hey{
    width: 100%;
    height: 15%;
    display: block;
    color:#1d1d11;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 100;
}
.Caroline{
    width: 100%;
    height: 10%;
    font-size: 50px;
    font-family: Roboto;
    font-weight: 800;
    line-height: 0px;
}
.As{
    width: 100%;
    height: 10%;
    font-weight: 500;
    font-size: 30px;
}
.Homepage_text{
    width: 100%;
    height: 60%;
    margin-top: 30px;
    font-size: 16px;
    font-weight:200;
    text-align: justify;
}
/* EDUCATION */
.education{
    weight: 100%;
    height: 60vh;
    background-color: rgb(255, 244, 181);
}
.title_education{
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    padding-top: 2%;
}
.date{
    font-size: 24px;
    font-weight: 500px;
    margin-top: 5%;
    text-align: center;
}
.info{
    font-size: 16px;
    text-align: center;
}
/* SKILLS */
.Specializing {
    width: 90%;
    height: 100vh;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: radial-gradient( circle, #F8F5E0, #FFFFFF);
}
#Specializing_title{
    font-size: 64px;
    margin-left: 10%;
    margin-top: 5%;
}
#Specializing_text{
    font-size: 16px;
    margin-left: 10%;
    margin-top: 3%;
    color: #525250;
    font-weight: 100;
}
.Specializing .container{
    font-size: 64px;
    margin-bottom: 15px;
}
.box_content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
}
.box_content .box_item {
    font-size: 10px;
    font-weight: 500;
}
.box_item{
    width: 100%;
    border: groove;
    margin: 7% ;
    line-height: 60%;
    height: 70%;
}
#box_title{
    font-size: 25px;
    line-height: 50px ;
    padding: 10%;
}
#box_body{
    font-size: 16px;
    padding: 5%;
    line-height: 100%;
    margin-top: 10%;
    text-align: justify;
}
#Skill{
    font-size: 20px;
    text-align: center;
    margin-left: 15%;
    line-height: 200%;
}

/* DROP YOUR MESSAGE */
#drop_message{
    height: 100%;
    width: 100%;
    background-color: rgb(172, 171, 170);
    padding-top: 5%;
    border: solid yellow;
}
.drop_title{
    width: 20%;
    margin-left: 40%;
    padding: 20 px;
    box-shadow: 0 px 0 px 20px grey;
    border-radius: 100 px;
    margin-bottom: 10 px;
    font-size: 30px;
}
.box_message{
    width: 30%;
    margin-left: 40%;
}
.form-group{
    margin-bottom: 30px;
    height: 100%;
}
.input textarea{
    width:100%;
    height: 100%;
    padding:10px;
    outline:0%;
    border: 1px solid #F0E59B;
    color: #1d1d11;;
    background: #FCFAED;
    font-size: 15px;
}
.label{
    height:100%;
    position:absolute;
    padding: 10px;
    color: #A19F69;
    cursor: text;
    transition: 0.2s;
} 
.submit{
    padding:10px 0;
    color: #1d1d1d;
    outline: none;
    background: #858449;
    border: 1px solid #858449;
    width: 100%;
    cursor: pointer;
}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top:-35px;
    font-size: 14px;
}

/* FOOTER */
.Footer{
    position: relative;
    width: 100%;
    height: 20vh;
    background-color: #80807d;
    padding: 20px 50 px;
    justify-content: center;
    align-items: center;
}
#end{
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}
.Footer .social_icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.Footer .social_icon #icon {
    list-style: none;
}
.Footer .social_icon #icon a {
    font-size: 32 px;
    color: #FCFAED;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    opacity: 0.75;
}
.Footer .social_icon  a :hover{
    transform: translate(10px);
}
#Check{
    color: black;
    text-align: center;
    font-size: 20px;
    line-height: 70px;
}
